* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ul1 {
    display: flex;
    gap: 20px;
}
.nav1__item {
    display: inline-block;
}
section {
    display: flex;
}
aside {
    width: 500px;
}
.profile-img {
    float: right;
}
footer {
    display: flex;
    justify-content: center;
}

.bordered {
    border: 1px solid #000;
}
a {
    text-decoration: none;
}