* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
#ul1 {
    display: flex;
    gap: 20px;
}
.nav1__item {
    display: inline-block;
}
.nav2__item:first-of-type {
    font-size: 20px;
    font-weight: bold;
    width: 230px;
}
#main-section {
    display: flex;
}
main {
    width: calc(100vw - 230px);
    padding: 10px;
}
.modal-wrapper {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
#modal {
    display: none;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 5px;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: white;
    z-index: 1;
}
#modal p {
    margin: 10px 0;
}
aside {
    padding: 10px;
}
.card {
    border: 1px solid #000;
    text-align: center;
}
.cards {
    display: flex;
    gap: 150px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.card__inner {
    width: 175px;
    height: 175px;
}
footer {
    display: flex;
    justify-content: center;
}

.bordered {
    border: 1px solid #000;
}
a {
    text-decoration: none;
}
.input-7 {
    display: flex;
}
.input-7__input {
    margin-right: 5px;
}
.input-8 {
    display: flex;
    justify-content: center;
}
.close:hover {
    cursor: pointer;
}
